/* testimonial slider css */
.content h1 {
  margin: 0px;
  margin-bottom: 30px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #0099ba;
  font-size: 28px;
}

.testimonial {
  width: 100%;
  padding: 30px 30px 30px 230px;
  margin: 0 15px 30px 15px;
  overflow: hidden;
  position: relative;
}
.testimonial-desktop{
  width: 50% !important;
}
.testimonial.tools_slider {
  padding: 0px 30px 40px 30px;
  margin: 0 0 30px 0;
  overflow: visible;
  position: relative;
}
.testimonial.desk_tool_slider {
  width: 33.33%;
}
/* .testimonial.desk_tool_slider .cardContent  {
  overflow: visible;
} */
.testimonial .pic {
  display: inline-block;
  width: 158px;
  height: 158px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  top: 20px;
  left: 20px;
}
.testimonial .pic img {
  width: 100%;
  height: auto;
}
.testimonial .description {
  font-size: 20px;
  color: #09425a;
  line-height: 27px;
  margin-bottom: 30px;
}

.testimonial .title {
  display: inline-block;
  font-size: 25px;
  font-weight: bold;
  color: #09425a;
  margin: 0;
}
/* .testimonial .post {
  display: inline-block;
  font-size: 17px;
  color: #09425a;
} */
/* .owl-theme .owl-controls .owl-page span {
  border: 2px solid #a9bdc5;
  background: transparent;
  opacity: 1;
}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls .owl-page:hover span {
  border: 2px solid #f19840;
  background: #f19840;
}

.owl-buttons {
  display: none;
} */
@media only screen and (max-width: 767px) {
  /* .Carousel-indicators-26 .Carousel-indicator-27 {
    width: 8px !important;
    height: 8px !important;
  }
  .Carousel-next-35 {
    right: -20px !important;
  } */
  .testimonial {
    padding: 20px;
    text-align: center;
  }
  .testimonial .pic {
    display: block;
    position: static;
    margin: 0 auto 15px;
  }
}
/* testimonial slider css */

/* banner slider css */
/* .banner-theme {
  width: 100%;
  max-width: 525px;
  float: right;
  margin-top: 80px;
  margin-right: -80px;
}
.banner-container .banner-title {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 26px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: right;
  color: #eff3f4;
}
.banner-container .banner-sub-title {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 46px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  font-weight: 100;
  letter-spacing: normal;
  text-align: right;
  color: #ffffff;
  margin-top: 12px;
}
.banner-container .banner-tag-line {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.28;
  letter-spacing: normal;
  text-align: right;
  color: #eff3f4;
} */

.sliderContainer {
  position: relative;
  width: 100%;
}
/* .sliderContainer .customNavigation {
  width: 100%;
  position: absolute;
  top: 30%;
}
.sliderContainer .customNavigation .next {
  float: right;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #a9bdc5;
}

.sliderContainer .customNavigation .prev {
  float: left;
  margin-left: -20px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #a9bdc5;
} */


/* .custom-nav-wrappper{
} */

/* @media only screen and (max-width: 767px) {
  .banner-theme {
    width: 100%;
    max-width: 100%;
    float: none;
    margin-top: 0px;
    margin-right: 0px;
    margin: 0px auto;
  }
  .banner-container .banner-title {
    font-size: 22px;
    text-align: center;
  }
  .banner-container .banner-sub-title {
    font-size: 40px;
    text-align: center;
  }
  .banner-container .banner-tag-line {
    font-size: 16px;
    text-align: center;
  }
  .sliderContainer .customNavigation {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0px;
    right: 0px;
  }
  .sliderContainer .customNavigation .next {
    float: right;
    width: 0;
    height: 0;
    margin-right: 0px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #a9bdc5;
  }

  .sliderContainer .customNavigation .prev {
    float: left;
    margin-left: 0px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #a9bdc5;
  }
} */

@media (max-width: 1200px) {
  .testimonial.tools_slider {
    padding: 0;
    margin: 0 15px;
    box-shadow: 0 10px 30px 0 rgb(0 0 0 / 15%) !important;
    border-radius: 30px;
  }
  .testimonial.tools_slider > div {
    padding: 0px;
    box-shadow: none !important;
  }
  .testimonial .description {
    text-align: left;
  }
}
@media (max-width: 992px) {
  .testimonial.tools_slider {
    margin: 0 0px;  
  }
  .remove-slider-space .testimonial{
    width:90%;
    margin: 0 auto;
 }
}
@media (max-width: 767px) {
  .testimonial .description {
    font-size: 14px;
    color: #09425a;
    line-height: 18px;
    margin-bottom: 30px;
    text-align: center;
  }

  /* .Carousel-indicators-26 {
    margin-top: 0px !important;
  } */
  .testimonial .title {
    font-size: 16px;
    margin-top: 12px;
  }
  .testimonial .pic {
    display: inline-block;
    width: 99px;
    height: 99px;
  }
  .testimonial.tools_slider {
    padding: 0px;
    margin: 0 0px 8px 0px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 10px 30px 0 rgb(0 0 0 / 15%) !important;
    border-radius: 20px !important;
  }

  .testimonial.tools_slider .cardContent {
    box-shadow: none !important;
    /* overflow: visible; */
  }
  .remove-slider-space .testimonial{
    width:100%;
  }
  .remove-slider-space .testimonial .description{
    width:85%;
    margin: 0 auto;
  }
  .remove-slider-space .testimonial{
    margin-left: 0 !important;
  }
}


